header {
    background-color: blue;
}

body {
    background-color: rgb(250, 247, 253);
}

.estudante-div {
    text-align: center;
    padding; 50px 0;
}

.estudante-imagem {
    text-align: center
    padding 16px 0
  } 
  
  .estudante-imagem {
     width: 25px;
  }

  .estudante-icone {
    width: 25px;
    padding:4px 8px
  }
  
  footer {
     background-color: blue;
  }
 
   .rodape {
      background-color: aquamarine
      text-align:center
      
   }
    
 }


